@page "/settings/secrets/create"
@model GhostNetwork.Account.Web.Pages.Settings.Secrets.Create

@if (Model.Result is null)
{
    <form method="post">
        @Html.AntiForgeryToken()
        <fieldset>
            <legend>Create new secret</legend>
            <div>
                <label asp-for="Secret.Description">Description</label>
                <input asp-for="Secret.Description"/>
            </div>
            <div>
                <label>&nbsp;</label>
                <input type="submit" value="Submit" class="submit"/>
            </div>
        </fieldset>
    </form>
}
else
{
    <p>New secret @Model.Result.Description generated and valid till @Model.Result.Expiration. Please copy it:</p>
    <div style="display: flex; align-items: center;">ClientId: <pre style="margin: 0">@Model.Result.ClientId</pre></div>
    <div style="display: flex; align-items: center;">Secret: <pre style="margin: 0">@Model.Result.PlainSecret</pre></div>
    <a href="/settings/secrets">Back to secrets</a>
}
